::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fefae0f7;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #335529;
    border-radius: .8rem;
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @font-face {
      font-family: 'BebasNeue-Regular';
      src: local('BebasNeue-Regular'),
           url('C:/Users/Niki/Documents/fonts/BebasNeue-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'ChareInk-Bold';
    src: local('ChareInk-Bold'),
         url('C:/Users/Niki/Documents/fonts/ChareInk-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Segoe UI Bold';
    src: local('Segoe UI Bold'),
         url('C:/Users/Niki/Documents/fonts/Segoe UI Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Segoe UI Bold';
    src: local('Segoe UI Bold'),
         url('C:/Users/Niki/Documents/fonts/Segoe UI Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Avoda';
    src: local('Avoda'),
         url('C:/Users/Niki/Documents/fonts/Avoda.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Mayfest-YzeaO';
    src: local('Mayfest-YzeaO'),
         url('C:/Users/Niki/Documents/fonts/Mayfest-YzeaO.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Fluence-gx4q3';
    src: local('Fluence-gx4q3'),
         url('C:/Users/Niki/Documents/fonts/Fluence-gx4q3.ttf') format('truetype');
  }
  @font-face {
    font-family: 'DolomanPavljenko';
    src: local('DolomanPavljenko'),
         url('C:/Users/Niki/Documents/fonts/DolomanPavljenko.otf') format('truetype');
  }
  *{
      margin: 0;
      scroll-snap-type: y proximity;
  }
  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  .second_main_page, .site-header, .third_main_page{
    scroll-snap-align: start;
  }
  .site-header {
      background:#606C38;
      height: 11.5rem;
      width: 191rem;
      margin:0;
  }
  .title {
      display: inline-block;
      font-family: 'Corbel';
      text-decoration: none;
      background-color:#283618;
      font-size: 2.3rem;
      padding-top: 0.5rem;
      margin-left: 3.5%;
      margin-top: 3.4%;
      width: 15.8rem;
      border-radius: 9rem;
      margin-right: 0;
      height: 3.3rem;
      color: #fefae0f7;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      
  }
  .button1 {
    display: inline;
    margin-bottom: 1%;
    margin-left: 68%;
    text-align: center;
    /*font-family: 'Segoe UI Bold';*/
    font-family: 'Corbel';
    outline: none;
    height: 4rem;
    text-align: center;
    width: 13rem;
    border-radius: 4rem;
    background: #fefae0f7;
    border: .2rem solid #fefae0f7;
    color: #606C38;
    letter-spacing: .1rem;
    text-shadow: 0;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .button1:hover {
    color: #fefae0f7;
    background: #283618;
  }
  .button1:active {
    letter-spacing: .2rem;
  }
  .button1:after {
    content: "Get in touch";
  }
  
  .button2 {
    margin-left: 2%;
    text-align: center;
    /*font-family: 'Segoe UI Bold';*/
    font-family: 'Corbel';
    outline: none;
    text-align: center;
    border-radius: 4rem;
    background: #fefae0f7;
    border: .2rem solid #fefae0f7;
    color: #606C38;
    letter-spacing: .1rem;
    text-shadow: 0;
    width: 4rem;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .button2:hover {
    color: #fefae0f7;
    background: #283618;
  }
  .button2:active {
    letter-spacing: .2rem;
  }
  .button2:after {
    content: "In";
  }
  .main_page{
    background:#606C38;
    height: 100.7rem;
    width: 191rem;
    margin:0;
    border-radius: 3rem;
  }
  .menu_block{
    margin-top: 4rem;
    width: 18.7rem;
    height: 21.5rem;
    float: right;
    margin-right: 5rem;
    background-color:#283618;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    position: relative;
  }
  .menu_block a{
    text-decoration: none;
    font-family: 'Corbel';
    font-weight: bold;
    color:#fefae0f7;
    font-size: 2rem;
  }
  .menu_block .home{
    padding-top: 8rem;
  }
  .menu{
    top: 3rem;
    left: 5rem;
    background-color:#606C38;
    width: 8.5rem;
    height: 2.367rem;
    position: absolute;
    border-radius: 9rem;
  }
  .first_preview, .second_preview{
    float: right;
    font-family: 'Segoe UI Bold';
    margin-right: 15%;
    width: 40rem;
    font-size: 2.8rem;
    color:#283618;
  }
  .first_preview{
    padding-top: 5rem;
  }
  .second_preview{
    padding-top: 4.5rem;
    padding-left: 37rem;
  }
  .heading_1{
    margin-top: 15rem;
    padding-left: 50rem;
    z-index: -1;
  }
  .heading_3{
    padding-left: 47rem;
  }
  .heading_1, .heading_3{
    font-family: 'Corbel';
    font-size: 15.5rem;
    height: 12.5rem;
  }
  .heading_2{
    font-family: 'Segoe UI Bold';
    padding-left: 25rem;
    font-size: 16rem;
    height: 16.5rem;
    padding-bottom: 4rem;
  }
  .heading_1, .heading_2, .heading_3{
    color:#283618;
    width: 90rem;
    display: inline-block;
  }
  .since{
    display: inline-block;
    font-family: 'Segoe UI';
    text-decoration: none;
    background-color:#283618;
    font-size: 2.3rem;
    padding-top: 0.5rem;
    margin-left: 3.5%;
    margin-top: 3.4%;
    width: 9.9rem;
    border-radius: 9rem;
    margin-right: 0;
    height: 3.1rem;
    color: #fefae0f7;
    text-align: center;
    line-height: 3.1rem;
  }
  .arrow_img{
    margin-left: 2.05rem;
    margin-top: 4.1rem;
    width: 8rem;
    height: 5rem;
  }
  .arrow{
    display: inline-block;
    background-color:#fefae0f7;
    width: 12.1rem;
    height: 12.1rem;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 90%;
    margin-left: 69.5rem;
    margin-top: 7rem;
    cursor: pointer;
  }
  .submit{
    float: right;
    margin-top: 6.8%;
    background-color:#283618;
    color: #fefae0f7;
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Segoe UI';
    border-radius: 9rem;
    margin-right: 3.5%;
    height: 3.1rem;
    width: 21.2rem;
  }
  .second_main_page{
    background:#283618;
    height: 100.7rem;
    width: 191rem;
    margin: 0;
    border-radius: 3rem;
  }
  .main_question{
    font-family: 'Segoe UI Bold';
    margin-top: 15rem;
    display: inline-block;
    margin-left: 46%;
    height: 2rem;
    width: 40rem;
    font-size: 2rem;
    color:#fefae0f7;
  }
  .horizon_2{
    margin-left: 3%;
    margin-top: 4%;
    width: 92%;
    background: #fefae0f7;
    border-bottom: .1rem solid #fefae0f7;
  }
  .preview{
    font-family: 'Segoe UI Bold';
    margin-left: 15%;
    display: inline-block;
    margin-top: 4%;
    width: 130rem;
    font-size: 5.5rem;
    color:#fefae0f7;
    text-align: center;
  }
  .button3 {
    margin-top: 5rem;
    margin-left: 87rem;
    text-align: center;
    /*font-family: 'Segoe UI Bold';*/
    font-family: 'Corbel';
    outline: none;
    text-align: center;
    border-radius: 16rem;
    background: #fefae0f7;
    border: .2rem solid #fefae0f7;
    color: #283618;
    text-shadow: 0;
    width: 16rem;
    height: 16rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
  }
  .button3:hover {
    box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, .2);
  }
  .button3:active {
    box-shadow: 0rem 0rem 2rem 2rem rgba(0, 0, 0, .2);
  }
  .button3:after {
    content: "ABOUT US";
    padding-top: 6.5rem;
    padding-left: 2.5rem;
  }
  .third_main_page{
    background:#606C38;
    height: 201.4rem;
    width: 191rem;
    margin: 0;
    border-radius: 3rem;
  }
  .top_six{
    font-family: 'Segoe UI Bold';
    font-weight: bold;
    margin-top: 10rem;
    display: inline-block;
    margin-left: 39.5%;
    height: 2rem;
    width: 40rem;
    font-size: 3.6rem;
    color:#283618;
  }
  h2{
    text-align: center;
    font-family: 'Segoe UI Bold';
    color:#283618;
    font-size: 2.5rem;
  }
  p{
    font-family: 'Segoe UI Bold';
    color:#283618;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-top: 2rem ;
    flex-wrap: wrap;
  }
  .container .box{
    position: relative;
    width: 50rem;
    height: 70rem;
    margin: 5.7rem 3rem;
    transition: 0.5s;
    background-color: #fefae0f7;
    box-shadow: 2rem -1.5rem 1rem .5rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
  }
  .container .box:hover{
    transform: translateY(-2rem);
  }
  .container .box .first_card{
    width: 45rem;
    height: 52rem;
  }
  .container .box .second_card{
    padding-left: 2rem;
    width: 45rem;
    height: 52rem;
  }
  .container .box .third_card{
    width: 45rem;
    height: 52rem;
    padding-left: 2rem;
  }
  .container .box .content{
    cursor: pointer;
  }
  .container .box .second_card_2{
    padding-bottom: 4rem;
    padding-top: 8rem;
    padding-left: 2rem;
    width: 40rem;
    height: 40rem;
  }
  .container .box .third_card_2{
    width: 45rem;
    height: 52rem;
    padding-left: 1rem;
  }
  .view{
    height: 2rem;
    width: 32.5rem;
    font-size: 3.6rem;
    color:#283618;
    display: inline-block;
    font-family: 'Segoe UI Bold';
    font-weight: bold;
    margin-top: 5rem;
    margin-left: 78rem;
    position: relative;
    text-decoration: none;
  }
  .view:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -3rem;
    width: 0;
    height: .3rem;
    background-color: #fefae0f7;
    transition: width 0.5s; 
  }
  .view:hover:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3rem;
    width: 100%;
    height: .3rem;
    background-color: #283618; 
    transition: width 0.5s; 
  }
  .box .content a{
    text-decoration: none;
  }
  .footer{
    background:#283618;
    height: 100.7rem;
    width: 191rem;
    margin: 0;
    border-radius: 3rem;
  }